{% extends'base.html.twig' %}

{% block body %}

    <h2 class="titlePrice text-center mt-5">Our Prices</h2>

    <section class="Price container-fluid mt-5">
        <div class="row">
            <div class="col-sm-6 mb-5">
                <div class="card">
                    <div class="card-body priceBody">
                        <h3 class="card-title text-center">Adult</h3>
                        <div class="row">
                            <div class="boxCategory">
                                <h6 class="mb-3">Weeks(except Wednesday)</h6>
                                <p class="card-text text-center">30€</p>
                            </div>
                            <div class="boxCategory">
                                <h6 class="mb-3">Weekend and Wednesday</h6>
                                <p class="card-text text-center">30€</p>
                            </div>
                            <div class="boxCategory">
                                <h6 class="mb-3">School holidays</h6>
                                <p class="card-text text-center">30€</p>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>

    </section>

{% endblock %}
