@import "~bootstrap/scss/bootstrap";
@import "vars";
@import "home";
@import "price";
@import "date";

body {
  background-color: $primary-color;
  color: $secondary-color;
}

footer {
  h5 {
    color: $third-color;
  }
}

h2{
  font-family: $title-font;
}
