@import "~bootstrap/scss/bootstrap";
@import "vars";
@import "home";
@import "price";
@import "date";
@import "about_us";


body {
  background-color: $primary-color;
  color: $secondary-color;
}

footer {
  h5 {
    color: $third-color;
  }
}

h5, h4, h3, h2, h1{
  font-family: $title-font;
  color:$secondary-color;
}

h6{
  color:$secondary-color;
}
