#map{
  height:70vh;
  width: 70vw;
  margin-left:15%;
  margin-top:5%;
  overflow: hidden;
}

.leaflet-popup-tip
{
  background: var(--primary-color);
  color: #ffffff;
}
.leaflet-popup-content-wrapper {
  background: #ffffff;
  color: #000000;
  text-align: center;
}
.leaflet-popup-content{
  margin: -1px;
  width: 150px;
}
.leaflet-popup-close-button {
  display: none;
}
.leaflet-popup-content h4 {
  background: var(--primary-color);
  color: #fff;
  margin: 0;
  display: block;
  padding: 11px;
  border-radius: 3px 3px 0 0;
  font-weight: 700;
}
