.titlePrice{
  font-size: 80px;
  margin-bottom: 5%;
}

.priceBody{
  background: url("https://images.unsplash.com/photo-1523521384060-d1bdc9e477b4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
}

.Price{
  .card-title{
    font-size: 50px;
    font-family: $title-font;
  }
  .boxCategory{
    margin-left:7%;
    margin-top: 5%;
    h6{
      font-size:20px;
    }
    p{
      font-size: 30px;
    }
  }
}
