{% extends'base.html.twig' %}

{% block body %}

    <h2 class="text-center titlePrice">About Us</h2>

    <section class="part">

        <p>In 1996, a troupe of young artists founded by the Wild brothers made a sensation during a performance in the
            French capital. This troupe of musicians, dancers, acrobats and fire-eaters had just created a magical and
            new place in the circus world.</p>
        <p>After several years of show in all Europe, it is in 2004 that following a dark event the circus will be known
            internationally because it is here that the legend of the Entity will be reborn.</p>
        <p class="danger">Everything starts in 1912 with the first disappearance. Kate, a 27-year-old British tourist,
            goes with her group of friends to perform a circus performance in the city of Paris. The show ends, people
            go home, all but Kate. The last person who saw it says she was going to the clown's box. It is here that
            this dark story began because the circus had no clown in its ranks. Nobody saw him again, nor Kate, whose
            body was never found.</p>
        <p class="danger">But the story does not stop there, everywhere in Europe similar disappearances were reported
            with always the same detail, a clown wearing a torn violet jacket. For 30 years this clown who was nicknamed
            the Entity rages wherever he goes, leaving behind twenty bodies never found before disappearing.</p>
        <p>Until 2004, after a performance in the circus brothers Wild some spectators claim to have seen a clown
            wearing a torn jacket.</p>
        <p>Would that sign the return of Kennet Chase?</p>
        <p>Like many curious spectators, come and watch the Wild Brothers show, which has been presenting a unique show
            for 15 years, telling the dark history of the Entity through its sound and light.</p>

    </section>

    <h2 class="text-center mt-5">Our Crew</h2>
<section class="Crew">
    <div class="uk-child-width-1-2@s" uk-grid>
        <div>
            <div uk-grid>
                <div class="uk-width-auto@m">
                    <ul class="uk-tab-left" uk-tab="connect: #component-tab-left; animation: uk-animation-fade">
                        {% for crew in crews %}
                        <li class="crewName"><a href="#">{{crew.name}}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="uk-width-expand@m imageCrew">
                    <ul id="component-tab-left" class="uk-switcher">
                        {% for crew in crews %}
                        <li>
                            <p class="resumeCrew">{{crew.resume}}</p>
                            <img src="{{crew.image}}" alt="">

                        </li>
                        {% endfor %}

                    </ul>
                </div>
            </div>
        </div>

    </div>

</section>

{% endblock %}

