<nav class="navbar navbar-expand-md navbar-dark bg-dark">

    <div class="navbar-toggler-right">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>

    <div class="collapse navbar-collapse flex-column " id="navbar">

        <ul class="navbar-nav  w-100 justify-content-around px-3">
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('home') }}"><img src="upload/satan.png" class="mr-2" alt="hell">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#"><img src="upload/satan.png" class="mr-2" alt="hell">About Us <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('pricePage') }}"><img src="upload/satan.png" class="mr-2" alt="hell">Prices <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#"><img src="upload/satan.png" class="mr-2" alt="hell">Date & City <span class="sr-only">(current)</span></a>
            </li>
        </ul>

    </div>

</nav>
